*{
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

body{
  background: hsl(212, 45%, 89%);
}

.card{
  display: flex;
  flex-direction: column;
  background-color:  hsl(0, 0%, 100%);
  width: 20%;
  height: 57vh;
  border-radius: 10px;
  box-shadow:  hsl(220, 15%, 55%) 0px 0.002px 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.938rem;
}

.qr-code{
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
}

.heading{
  font-weight: 700;
  font-size: 20px;
  padding: 0 10px;
}

.description{
  margin: 0;
  padding: 0 10px;
}

@media( max-width: 1366px){
  .card{
    height: 67vh;
  }
}

@media(max-width: 375px){
  .card{
    height: 55vh;
    width: 70%;
  }
}